
/* Main app css */



/* Allow line wrapping on buttons and list items */

.infobox {
  white-space: normal;
  text-align: left;
  font-weight: normal !important;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0.5em;
  min-height: 2em;
}

.ui-btn {
  padding: 0.5em;
}

.ui-li .ui-btn-text a.ui-link-inherit{
    white-space: normal;
}

.ui-header .ui-title, .ui-footer .ui-title{
    white-space: normal;
}

.ui-btn-inner {
    white-space: normal;
}

.button-icon {
  float: right;
  padding: 0.5em;
}

.headerlogo {
  clear: both;
  margin: 0 !important;
  box-shadow: none;
  clear: both;
  padding: 2 !important;
  color: #fff;
  text-shadow: none;
  font-weight: normal;
  text-align: left !important;
  padding-left: 0.5em !important;
}
.homelink {
  text-decoration: none;
  color: #fff !important; 
  text-align: left;
}
.explanation {
  border-bottom: 1px dotted #000;
  cursor: pointer;
}
.glow {
  text-shadow: 1px 1px 10px #fff;
}

.ui-btn-active {
  background-color: #3aa !important;
  border: none;
}

.active {
  background-color: #3aa !important;
}

.inactive {
  background-color: #055 !important;
}

.ui-block-a, .ui-block-c {
  width: 33% !important;
}

.ui-block-b {
  width: 33% !important;
}

.navtab {
  border: none !important;
  text-shadow: none !important;
  margin: 1px !important;
  border-radius: 5px;
  padding-bottom: 1.5em;
}

.ui-navbar {
  width: 99%;
  margin-left: 1%;
}

.ui-footer {
  background: #fff;
  border: none;
}

.submenu {
  display: block;
  text-align: right;
}
.submenu a {
  background: #3aa !important;
  margin: 5px;
}

.float-left {
  float: left;
}

.centered {
  text-align: center !important;
  margin: 0px;
}

.hidden {
  display: none;
}

.footable tr {
  font-size: 1.2em;
}


/* Indications classes */

.required {
  background: #fdd;
  text-align: center !important;
  font-weight: bold;
}

.maybe-required {
  background: #ffd;
  text-align: center !important;
  font-weight: bold;
}

.not-required {
  background: #eee;
  text-align: center !important;
  font-size: 0.7em;
}


.greencell,
.redcell,
.ambercell {
  font-weight: normal;
  text-shadow: 1px 1px 1px #555;
  color: white;
  text-align: center;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #fff;
  margin: 0px;
  border: 1px solid #aaa;
  min-height: 5em;
}

.greencell {
  background: #2b2;
}

.ambercell {
  background: #ef0;
  text-shadow: 1px 1px 1px #fff;
  color: #000;
}

.redcell {
  background: #b00;
}

.overlay {
  display: block;
  background: #005050;
  background: rgba(0,75,75,0.9);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.overlay-container {
  display: none;
  padding: 0.5em;
  margin: 1em auto;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
}

.textbox {
  background: #fff;
  padding: 0.5em;
  overflow-y: scroll;
  max-height: 250px;
  margin: 0.2em;
  border-radius: 5px;
}

.mainlogo {
  margin: 0 auto;
  width: 200px;
  background: #3aa;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  text-shadow: none;
}

.mainlogo i {
  color: #fff;
  text-shadow: 1px 1px 40px #fff;
}


/* Make text more readable on high resolution devices */

@media (min-width: 780px) {
  .ui-page {
    font-size: 1.3em;
  }
      
  .searchicon {
    font-size: 22px !important;
  }
  
  .infobox {
    min-height: 4em;
    overflow: auto;
    width: 45%;
    display: inline-block;
    margin-left: 1%;
  }
  
}

