
/* Main app css */

/* Allow line wrapping on buttons and list items */

.highlight {
  color: #000;
  text-shadow: none;
  background-color: #FFC;
}

#glossarylist h4 {
  margin: 1em;
  border-bottom: 1px solid #000;
  font-size: 1.2em;
}

#glossarylist p {
  padding-top: 0;
  margin-top:0;
  margin-left: 2em;
}

#searchlist p {
  border: 1px #aaa solid;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 10px #aaa;
  cursor: pointer;
  font-size: 0.9em !important;
}

#searchlist .indication {
  background: #0aa;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.1em !important;
}

#searchlist .indication-details {
  background: #FFE;
  font-size: 0.9em !important;
}

.infobox {
 font-size: 1em !important;
 white-space: normal;
 text-align: left;
 font-weight: normal !important;
 background: #fff;
 border-radius: 5px;
 border: 1px solid #aaa;
 padding: 0.5em;
 min-height: 2em;
}

.small-image {
  width: 100%;
}

.big-image {
  width: 1024px;
}

.figure {
  border: 1px #aaa solid;
  margin: 1em;
  padding: 0.5em;
  line-height: 1em;
}

.ui-content {
  max-width: 960px;
  margin: 0 auto;
}

.fa-select,
.ui-selectmenu-list li a,
.ui-dialog-contain .ui-header .ui-title,
.ui-popup .ui-header .ui-title  {
 font-family: 'FontAwesome', sans-serif;
}

.ui-header {
  border: none !important;
}

.ui-li .ui-btn-text a.ui-link-inherit {
 white-space: normal;
}

.ui-header .ui-title,
.ui-footer .ui-title {
 white-space: normal;
}

.ui-btn-inner {
 white-space: normal;
}

.button-icon {
 float: right;
 padding: 0.5em;
}

.headerlogo {
 clear: both;
 border: 0 !important;
 margin: 0 !important;
 box-shadow: none;
 clear: both;
 padding: 0.5em !important;
 color: #fff;
 text-shadow: 1px 1px 2px #055 !important;
 font-weight: normal;
 text-align: left !important;
 padding-left: 0.5em !important;
}

.homelink {
 text-decoration: none;
 color: #fff !important;
 text-align: left;
}

.evidence, .glossary {
  border-bottom: 1px dotted #000;
  cursor: pointer;
}

.evidence {
  font-size: 0.8em;
  vertical-align: top;
  border-bottom: 1px dotted #000;
  cursor: pointer;
}

.glow {
 text-shadow: 1px 1px 10px #fff;
}

.ui-btn-active {
 background-color: #3aa !important;
 border: none;
}

.active {
 background-color: #3aa !important;
 color: #fff;
 text-shadow: none;
}

.inactive {
 background-color: #055 !important;
 color: #fff !important;
 text-shadow: none !important;
}

.ui-block-a,
.ui-block-c {
 width: 33% !important;
}

.ui-block-b {
 width: 33% !important;
}

.ui-navbar {
 width: 99%;
 margin-left: 1%;
}

.ui-footer {
 background: #fff;
 border: none;
}

.submenu {
 display: block;
 text-align: right;
}

.submenu a {
 background: #3aa !important;
 margin: 5px;
}

.submenu .ui-btn {
 padding: 0.4em;
 margin: 0.1em;
}

.float-left {
 float: left;
}

.centered {
 text-align: center !important;
 margin: 0px;
}



/* start of default styles */

.footable {
  border-spacing: 0;
  width: 100%;
  border: solid #ccc 1px;
  color: #444;
}

.footable > thead > tr > th {
  padding: 20px;
  text-align: left;
  background: #eee;
  border-bottom: 5px solid #055;
  text-align: center;
}

.footable tbody tr td {
  border-bottom: 2px solid #ddd;
}

.footable.breakpoint > tbody > tr > td.expand {
  background: url('plus.png') no-repeat 5px center;
  padding-left: 40px;
}

.footable.breakpoint > tbody > tr.footable-detail-show > td.expand {
  background: url('minus.png') no-repeat 5px center;
}

.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}

/*
.footable.breakpoint > tbody > tr.footable-row-detail {
  background: #eee;
}

.footable > tbody > tr:hover:not(.footable-row-detail) {
  background: #fbf8e9;
}

*/


/*End of default */


.footable-detail-show {
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background: #0aa;
}
.footable-detail-show td {
  border: none !important;
}

.footable-row-detail-cell {
  background: #0aa;
  padding: 1em;
  padding-top: 0;
}

.footable-row-detail-inner {
  box-shadow: 1px 1px 10px #000;
  background: #fff;
}

.footable-row-detail-row {
  margin: 0;
  padding: 5px;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
}

.footable-row-detail-row p {
  text-align: left;
  font-weight: normal;
  line-height: 1.4em;
}



/* Indications classes */

.required {
 text-align: center !important;
 white-space: nowrap !important;
}

.maybe-required {
 text-align: center !important;
 font-size: 0.9em !important;
 white-space: nowrap !important;
}

.not-required {
}

.greencell,
.redcell,
.ambercell {
 font-weight: normal;
 text-shadow: 1px 1px 1px #555;
 color: white;
 text-align: center;
 padding: 2px;
 border-radius: 5px;
 box-shadow: 1px 1px 10px #fff;
 margin: 0px;
 border: 1px solid #aaa;
 min-height: 5em;
}

.greencell {
 background: #2b2;
}

.ambercell {
 background: #ef0;
 text-shadow: 1px 1px 1px #fff;
 color: #000;
}

.redcell {
 background: #b00;
}

.overlay {
 display: block;
 background: #005050;
 background: rgba(0, 75, 75, 0.9);
 left: 0;
 top: 0;
 height: 100%;
 width: 100%;
 position: fixed;
 z-index: 9999;
}

.overlay-container {
 display: none;
 padding: 0.5em;
 margin: 0 auto;
 border-radius: 5px;
 width: 90%;
 max-width: 500px;
}

.textbox {
 background: #fff;
 padding: 0.5em;
 overflow-y: scroll;
 max-height: 200px;
 margin: 0.2em;
 border-radius: 5px;
}

.mainlogo {
 margin: 0 auto;
 width: 200px;
 background: #3aa;
 padding: 25px;
 border-radius: 10px;
 text-align: center;
 color: #fff;
 text-shadow: none;
}

.mainlogo i {
 color: #fff;
 text-shadow: 1px 1px 40px #fff;
}

.green-traffic-light {
 background: url("green.png");
}

.red-traffic-light {
 height: 48px;
}

.amber-traffic-light {
 background: url("yellow.png");
}

.red-traffic-light {
 background: url("red.png");
}

.traffic-light-container {
 background-repeat: no-repeat;
 width: 30px;
 height: 78px;
 border-right: none;
}

.footable th, .footable tr {
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
}

/* Make text more readable on high resolution devices */

a, button {
 font-size: 1em !important;
}

input {
 font-size: 1.3em !important;
}

.navtab {
 border: none !important;
 text-shadow: none !important;
 margin-top: 1px !important;
 margin-right: 1px !important;
 padding: 0;
 font-size: 0.9em !important;
}

.navtab i {
 display: block;
}

.ui-li-divider,
.submenu .ui-btn {
 padding-top: 0.5em !important;
 padding-bottom: 0.5em !important;
}

li .ui-btn {
 padding-top: 0.5em !important;
 padding-bottom: 1.3em !important;
}


/* Above iPhone landscape  */

@media (min-height: 420px) {
.infobox {
 font-size: 1.2em !important;
 }
 
 .textbox {
 max-height: 280px;
 }
}


/* iPad portrait */

@media (min-width: 600px) {
.infobox {
 font-size: 1.2em !important;
 }
 
}

/* Desktop */

@media (min-width: 780px) {
 .ui-page {
  font-size: 1.3em !important;
 }
 
 .headerlogo {
   font-size: 1.4em !important;
 }

 .searchicon {
  font-size: 22px !important;
 }

 input {
  font-size: 1.4em !important;
 }

 .navtab {
  font-size: 1em !important;
 }

 .navtab i {
  display: inline;
  margin-right: 0.3em;
  vertical-align: middle;
 }
   
  .ui-li-divider,
  li .ui-btn,
  .submenu .ui-btn {
   padding-top: 0.8em !important;
   padding-bottom: 0.8em !important;
  }
  
  .submenu .ui-btn {
     margin: 0.1em !important;
     padding: 0.5em !importa;
   }
  
 .infobox {
  height: 7em;
  overflow: auto;
  width: 44%;
  display: inline-block;
  margin-left: 1%;
  padding: 0.5em !important;
  font-size: 1em !important;
 }
 
 .small {
    height: 5em;
 }

}

/* Allow long button texts, e.g. list items, to wrap */

.navtab .ui-btn {
 padding-bottom: 1.5em !important;
 margin-bottom: 1.5em !important;
}

.ui-btn {
  white-space: normal !important;
}

.hidden {
 display: none;
}